<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Organization:</b>
  <%= @job.organization %>
</p>


<%= link_to 'Edit', edit_organization_job_path(@organization, @job) %> |
<%= link_to 'Back', organization_jobs_path(@organization) %>
